@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// variables
$family-sans-serif: 'Nunito', sans-serif;
$main-background: 	rgb(238,21,21);
$background: rgb(240,240,240);
$text: rgb(240,240,240);
$link: rgb(34,34,36);
$menu-list-border-left: rgb(240,240,240);
$danger-darker: rgb(231, 56, 71);

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import 'bulma';

// general styles
html {
  background-color: $main-background;
}
a {
  font-weight: bolder;
}
a, button, .navbar-logo {
  transition: all 0.2s ease-in-out;
}
.logo {
  width: 12em;
}
.menu-logo {
  width: 1em;
  margin: auto;
}
.navbar-item:hover > .navbar-logo {
  transform: scale(1.1);
}
.is-active > .navbar-logo {
  transform: scale(1.1);
}
.pokemon-card {
  transition: all 0.5s ease-in-out;
}
.pokemon-card:hover {
  transform: scale(1.1);
}
.tags-container {
  display: flex; 
  justify-content: center;
}
.border-left {
  border-left: 0.5px solid $danger-darker !important;
}
.border-right {
  border-right: 0.5px solid $danger-darker;
}
.border-bottom {
  border-bottom: 1px solid $danger-darker;
}
.border-top {
  border-top: 1px solid $danger-darker;
}